{% capture about %}{% include about.md %}{% endcapture %}

<div class="about-me container span-24">
  <div class="photo span-8"></div>
  <div class="span-12 loud text colborder">
    {{ about | markdownify }}
  </div>
  <div class="span-3 last quick-links">
    <ul>
      <li class="resume"><a href="/resume/">R&eacute;sum&eacute;</a></li>
      <li class="github"><a href="https://github.com/jeremyroman">GitHub</a></li>
      <li class="linkedin"><a href="https://ca.linkedin.com/in/jeremyroman">LinkedIn</a></li>
      <li class="google-plus"><a href="https://www.google.com/+JeremyRoman-jbroman">Google+</a></li>
    </ul>
  </div>
</div>
